sample	assembler	sex	run_modules	assembly_mode	hap1_assembly	hap2_assembly	hifi_fastq	ont_fastq	hic_r1	hic_r2	porec_fastq	pat_r1	pat_r2	mat_r1	mat_r2	illumina_r1	illumina_r2	ont_platform
# Example 1: Run full workflow with hifiasm Hi-C assembly
sample1	hifiasm_hic	male	all	hifiasm_hic				/path/to/hifi.fastq	/path/to/ont.fastq	/path/to/hic_R1.fastq	/path/to/hic_R2.fastq								HiFi
# Example 2: Run annotation and evaluation only with existing assemblies
sample2	verkko_hic	female	annotation,evaluation		/path/to/existing/sample2.hap1.fa	/path/to/existing/sample2.hap2.fa
# Example 3: Run annotation only with existing assemblies
sample3	hifiasm_trio	male	annotation		/path/to/existing/sample3.hap1.fa	/path/to/existing/sample3.hap2.fa
# Example 4: Run assembly and evaluation (skip annotation)
sample4	verkko_porec	female	assembly,evaluation	verkko_porec				/path/to/hifi.fastq	/path/to/ont.fastq			/path/to/porec.fastq									ONT-R10
# Example 5: Run everything with trio-based assembly
sample5	hifiasm_trio	male	all	hifiasm_trio				/path/to/hifi.fastq	/path/to/ont.fastq					/path/to/pat_R1.fastq	/path/to/pat_R2.fastq	/path/to/mat_R1.fastq	/path/to/mat_R2.fastq	/path/to/illumina_R1.fastq	/path/to/illumina_R2.fastq	HiFi
